$regularFontSize: 16px;
$largeFontSize: 26px;
$titleFontSize: 36px;
$titleFontSizeSmall: 30px;
$textColor: #ffffff;

$largeScreen: 1024px;
$mediumScreen: 768px;
$smallScreen: 375px;

$gridHeight: 400px;
$gridHeightLarge: 350px;
$gridHeightMedium: 300px;
$gridHeightSmall: 250px